[submodule "frontend"]
	path = frontend
	url = https://github.com/OstojaOfficial/web-projekat-frontend
[submodule "backend"]
	path = backend
	url = https://github.com/OstojaOfficial/web-projekat-backend
